body:has(.register-wrapper) {
    height: 100vh;
}

.register-wrapper {
    --input-focus: #909090ab;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;

    position: relative;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fly-into-view 0.4s ease forwards;
}

.register-wrapper.exit {
    animation: fly-out-view 0.4s ease forwards;
}

@keyframes fly-into-view {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fly-out-view {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.background-grid-vfx {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  z-index: 1;

  background-image:
    linear-gradient(rgba(160, 160, 160, 0.3) 2px, transparent 2px),
    linear-gradient(90deg, rgba(160, 160, 160, 0.3) 2px, transparent 2px);

  background-size: 48px 48px;
  opacity: 0.75;

  transform: perspective(1000px) rotateX(65deg) scale(1.8);
  transform-origin: center bottom;

  animation: retroGridSlide 1s linear infinite;
}

@keyframes retroGridSlide {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 80px, 0 0;
  }
}

.background-grid-vfx.signup {
  top: 0;
  transition: all 0.8s ease;
}

.card-switch {
  position: relative;
  z-index: 2;
  width: 300px;
  height: 440px;
  perspective: 1000px;
}

/* card */

.flip-card__inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transform-style: preserve-3d;
}

.flip-card__front {
    position: absolute;
    left: -180px;
    top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flip-card__front-left {
  padding: 20px;
  max-height: 520px;
  overflow: hidden;
}

.flip-card__front-right {
  position: relative;
  width: 400px;
  background-color: #fff;
}

.signIn-Info {
  padding: 40px 50px;
  position: relative;
  height: 100%;
}

.signIn-Info .signIn-Info-ico {
  position: absolute;
  top: 60px;
  left: 80px;
  height: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: swing 5s ease infinite;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(15deg)
  }
  100% {
    transform: rotate(-10deg);
  }
}

.signIn-Info-ico img {
  width: 100px;
  margin-top: 100%;
}

.signIn-Info .flip-card__form {
  padding-top: 100px;
}

.flip-card__front-right-bg {
  position: absolute;
  background-image: url(../../assets/Decor/social-media-visualisation.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.flip-card__front-right-welcome-text {
  position: relative;
  padding: 15px 40px;
  color: var(--font-color);
  font-size: 40px;
  z-index: 2;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jersey 20', sans-serif;
  font-weight: 800;
}

.flip-card__front-right-welcome-text-bottom {
  position: relative;
  top: 60%;
  padding: 20px 40px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-sub);
}

.flip-card__front-right-welcome-text-logo img {
  width: 120px;
  transform: translateY(10px);
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: end;
}

.flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease;
}

.flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.flip-card__btn-small:active,
.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn {
    margin: 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.flip-card__btn:hover {
    transform: translate(-1px, -1px);
}

.flip-card__btn-small {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 12px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.flip-card__btn-small:hover {
    transform: translate(-1px, -1px);
}

.auth-link {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: var(--font-color);
    margin-top: 10px;
}

.auth-link .link-text {
    text-decoration: underline;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

.auth-link .link-text:hover {
    color: rgb(0, 0, 140);
    transform: scale(1.05);
}

.auth-link .link-text:active {
    transform: scale(0.98);
}

.flip-card__input-block{
  padding: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.flip-card__input-block .flip-card__input {
  width: 170px;
}

.flip-card__input-block .flip-card__btn {
  width: 80px;
  font-size: 12px;
  margin: 0;
}

.signIn-Info .input-field:has(.select) {
  width: 250px !important;
  height: 40px;
  z-index: 1;
  display: flex;
  align-items: first baseline;
}

.signIn-Info .input-field .select {
  width: 100px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  transition: 300ms;
  color: var(--font-color-sub);
  overflow: hidden;
  padding: 0 5px 8px 0;
}

.signIn-Info .input-field .select:hover {
  height: unset;
}

.signIn-Info .flip-card__form .input-field .selected {
  height: 40px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signIn-Info .input-field .arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: var(--main-color);
  z-index: 1;
  transition: 300ms;
}

.signIn-Info .input-field .options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0 0 #000000;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.signIn-Info .input-field .select:hover > .options {
  opacity: 1;
  top: 3px;
}

.signIn-Info .input-field .select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.signIn-Info .input-field .option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: var(--bg-color);
  width: 100%;
  font-size: 15px;
}

.signIn-Info .input-field .options input[type="radio"] {
  display: none;
}

.signIn-Info .input-field .options label {
  display: inline-block;
}

.signIn-Info .input-field .options label::before {
  content: attr(data-txt);
}

.signIn-Info .input-field .options input[type="radio"]:checked + label {
  display: none;
}

.signIn-Info .input-field .options input[type="radio"]#en:checked + label {
  display: none;
}

.signIn-Info .input-field .select:has(.options input[type="radio"]#en:checked) .selected::before {
  content: attr(data-default);
}

.signIn-Info .input-field .select:has(.options input[type="radio"]#vn:checked) .selected::before {
  content: attr(data-one);
}

.signIn-Info .input-field .select:has(.options input[type="radio"]#cn:checked) .selected::before {
  content: attr(data-two);
}

.signIn-Info .input-field .select:has(.options input[type="radio"]#jp:checked) .selected::before {
  content: attr(data-three);
}

.signIn-Info .input-field .select .options div:has(input[type="radio"]#en) .option:hover {
  color: var(--bg-color);
  background-color: rgb(30, 118, 205);
}

.signIn-Info .input-field .select .options div:has(input[type="radio"]#vn) .option:hover {
  color: rgb(255, 242, 0);
  background-color: rgb(170, 0, 0);
}

.signIn-Info .input-field .select .options div:has(input[type="radio"]#cn) .option:hover {
  color: rgb(255, 244, 40);
  background-color: rgb(200, 0, 0);
}

.signIn-Info .input-field .select .options div:has(input[type="radio"]#jp) .option:hover {
  color: rgb(220, 0, 0);
  background-color: #ffffff;
  outline: 0.1px solid #000000;
}

.signIn-Info .input-field textarea.text-big {
  width: 250px !important;
  height: 100px !important;
}

.register-error-message {
  color: red;
  font-weight: 800;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 10px;
  width: 100%;
  background-color: #aaaaaa;
  overflow: hidden;
  animation: pop-out 0.8s ease-out forwards;
}


.input-field:has(.select) {
  width: 100%;
  height: 40px;
  color: #000;
  z-index: 1;
  display: flex;
  align-items: first baseline;
}

.input-field .select {
  width: 100px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  transition: 300ms;
  color: var(--font-color-sub);
  overflow: hidden;
  padding: 0 5px 8px 0;
}

.input-field .select:hover {
  height: unset;
}

.input-field .selected {
  height: 40px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field .arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: var(--main-color);
  z-index: 1;
  transition: 300ms;
}

.input-field .options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 5px 5px 0 0 #000000;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.input-field .select:hover > .options {
  opacity: 1;
  top: 3px;
}

.input-field .select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.input-field .option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: var(--bg-color);
  width: 100%;
  font-size: 15px;
}

.input-field .options input[type="radio"] {
  display: none;
}

.input-field .options label {
  display: inline-block;
}
.input-field .options label::before {
  content: attr(data-txt);
}

.input-field .options input[type="radio"]:checked + label {
  display: none;
}

.input-field .options input[type="radio"]#en:checked + label {
  display: none;
}

.input-field .select:has(.options input[type="radio"]#en:checked) .selected::before {
  content: attr(data-default);
}
.input-field .select:has(.options input[type="radio"]#vn:checked) .selected::before {
  content: attr(data-one);
}
.input-field .select:has(.options input[type="radio"]#cn:checked) .selected::before {
  content: attr(data-two);
}
.input-field .select:has(.options input[type="radio"]#jp:checked) .selected::before {
  content: attr(data-three);
}

.input-field .select .options div:has(input[type="radio"]#en) .option:hover {
  color: var(--bg-color);
  background-color: rgb(30, 118, 205);
}
.input-field .select .options div:has(input[type="radio"]#vn) .option:hover {
  color: rgb(255, 242, 0);
  background-color: rgb(170, 0, 0);
}
.input-field .select .options div:has(input[type="radio"]#cn) .option:hover {
  color: rgb(255, 244, 40);
  background-color: rgb(200, 0, 0);
}
.input-field .select .options div:has(input[type="radio"]#jp) .option:hover {
  color: rgb(220, 0, 0);
  background-color: #ffffff;
  outline: 0.1px solid #000000;
}

.input-field textarea.text-big {
  width: 250px !important;
  height: 100px !important;
}

.incorrect-otp {
  position: absolute;
  color: red;
  font-weight: 600;
  font-size: 12px;
  margin: 0 0 -60px 10px;
}

@keyframes pop-out {
  0% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
