/* Navbar */
.header {
  width: 100%;
  margin-top: 10px;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 18px;
  padding: 20px 30px 0 0;
  border-radius: 24px;
  border-top: 1.6px solid #303030;
  transition: border 0.5s ease;
}
.navbar::before {
  position: absolute;
  inset: 0;
  margin: 20px 16px 0 16px;
  content: "";
  border-left: 1.6px solid #303030;
  border-right: 1.6px solid #303030;
  height: 100px;
  mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 60%, transparent 90%);
  pointer-events: none;
  transition: border 0.5s ease;
}

.navbar .nav-container {
  position: fixed;
  width: 96%;
  height: 60px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-right: 20px;
  left: 30px;
  z-index: 9999;
  transform: translateY(0%);
  transition: border 0.4s ease, background-color 0.4s ease;
}

.nav-container .btn-primary {
  border: 1px solid #303030;
  color: #303030;
  background-color: #75FBC0;
}
.nav-container .btn-primary:hover {
  color: #fff;
  border: 1px solid transparent;
  background-color: #303030;
}

.nav-links {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #303030;
  font-weight: 500;
  text-shadow: 0 0 0 transparent;
  transition: color 0.2s ease, text-shadow 0.4s ease;
}

.nav-links a:hover {
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.4rem;
  height: 100px;
  width: 200px;
  text-shadow: rgba(25, 25, 25, 0.9) 0px 0px 2px;
}

.logo .logoInitials {
  color: #5865f2;
  font-size: 32px;
  -webkit-text-stroke: 0px transparent;
}
.logo span:nth-child(2) {
  transform: translate(0, -30%);
  font-size: 16px;
  -webkit-text-stroke: 1px #0066B2;
}
.logo span:nth-child(3) {
  transform: translate(-185%, 25%);
  font-size: 16px;
  -webkit-text-stroke: 1px #e07c1f;
}
.logo span:nth-child(4) {
  color: #9894db;
  transform: translate(-250%, 25%);
}
.logo span:nth-child(4) svg {
  font-size: 30px;
}

body:has(.page-main-content) .navbar {
  border-top: 1.6px solid #303030;
  animation: transform-border-vertical 0.4s forwards ease-out;
}
body:has(.page-main-content) .navbar::before {
  border-left: 1.6px solid #303030;
  border-right: 1.6px solid #303030;
  animation: transform-border-side 0.4s forwards ease-out;
}
body:has(.page-main-content) .navbar .nav-container {
  transform: translateY(-30%);
  transition: transform 0.4s ease;
}

.nav-container .button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
  border: solid 2px #18176a;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: rgba(88, 101, 242, 1);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
}

.nav-container .button-primary:active {
  transform: scale(.9);
  transition: all 100ms ease;
}

.nav-container .button-primary svg {
  transition: all .5s ease;
  z-index: 2;
}

.start {
  transition: all .5s ease;
  transition-delay: 300ms;
}

.nav-container .button-primary:hover svg {
  transform: scale(1.3) translate(-40%);
}

.nav-container .button-primary .now {
  position: absolute;
  left: 0;
  transform: translateX(290%);
  transition: all .5s ease;
  z-index: 2;
}

.nav-container .button-primary:hover .now {
  transform: translateX(90%);
  transition-delay: 300ms;
}

.nav-container .button-primary:hover .start {
  transform: translateX(200%);
  transition-delay: 300ms;
}

body:has(.page-main-content) .nav-container .button-primary {
  mask-image: url('../../assets/black-spray-paint-texture-matte-erase.gif');
  mask-position: center;
  mask-size: cover;
  pointer-events: none;
}

@keyframes transform-border-side {
  to {
    border-left: 1.6px solid #00000000;
    border-right: 1.6px solid #00000000;
    margin: 0;
  }
}

@keyframes transform-border-vertical {
  to {
    border-top: 1.6px solid #00000000;
    margin-top: -10px;
    padding-top: 40px;
  }
}

body:has(.page-main-content) .nav-links li:has(a:hover) {
  animation: shiver 1s linear infinite;
}

@keyframes shiver {
    0%   {  transform: translate(1px, 1px); }
    5%   {  transform: translate(1px, 1px); }
    10%  {  transform: translate(1px, 1px); }
    15%  {  transform: translate(1px, 1px); }
    20%  {  transform: translate(1px, 2px); }
    25%  {  transform: translate(1px, 2px); }
    30%  {  transform: translate(1px, 2px); }
    35%  {  transform: translate(1px, 2px); }
    40%  {  transform: translate(2px, 1px); }
    45%  {  transform: translate(2px, 1px); }
    50%  {  transform: translate(2px, 1px); }
    55%  {  transform: translate(2px, 1px); }
    60%  {  transform: translate(1px, 1px); }
    65%  {  transform: translate(1px, 1px); }
    70%  {  transform: translate(1px, 1px); }
    75%  {  transform: translate(1px, 1px); }
    80%  {  transform: translate(2px, 1px); }
    85%  {  transform: translate(2px, 1px); }
    90%  {  transform: translate(2px, 2px); }
    95%  {  transform: translate(2px, 2px); }
    100% {  transform: translate(1px, 2px); }
}

body:has(.page-main-content) .nav-container:after {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 30px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}