/* Navbar */
.header {
  width: 100%;
  left: 0;
  background: transparent;
  position: absolute;
  z-index: 100;
}

.header.return {
  top: 0;
  transition: top 0.3s ease;
}

.header.away {
  top: -10px;
  opacity: 0.2;
  transition: top 1s ease, opacity 0.8s ease;
}

.header:hover {
  opacity: 1 !important;
  transition: opacity 0.4s ease;
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #EEEEEE;
}

.navbar .nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 9999;
  transition: border 0.4s ease, background-color 0.4s ease;
}

.nav-container .btn-primary {
  border: 1px solid #303030;
  color: #303030;
  background-color: #75FBC0;
}
.nav-container .btn-primary:hover {
  color: #fff;
  border: 1px solid transparent;
  background-color: #303030;
}

.nav-links {
  margin-right: 20%;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-links::before {
  content: "";
  width: 600px;
  height: calc(100% - 4px);
  position: absolute;
  border-bottom: 4px solid rgba(0, 0, 0, 0.25);
}

.nav-links li {
  min-width: 100px;
  height: 100%;
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #303030;
  font-weight: 500;
  text-shadow: 0 0 0 transparent;
  transition: color 0.2s ease, text-shadow 0.4s ease;
}

.nav-links li:hover a{
  text-shadow: 3px 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  color: var(--color-primary);
}

.nav-links li.nav-selected {
  background-color: #EEE6D1;
}

.navbar .nav-container .logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 400px;
}

.navbar .nav-container .logo img {
  width: 300px;
}

.nav-container .button-primary {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  border: 0.5px solid #88878736;
  border-bottom: none;
  outline: none;
  font-size: 1rem;
  padding: 0.75em 2em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  transform: translateX(-40%);
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}

.nav-container .button-primary:hover {
  background-color: #f0f0f0;
  border: 0.5px solid #dddff8d6;
  border-bottom: none;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
}

.nav-container .button-primary:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

/*O_O*/
body:has(.page-main-content) .nav-container .button-primary {
  mask-image: url('../../assets/black-spray-paint-texture-matte-erase.gif');
  mask-position: center;
  mask-size: cover;
  pointer-events: none;
}

.nav-container .navbar-profile-pic {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #555555;
  border-radius: 50%;
  border: 3px solid #000000;
  outline: none;
  padding: 0.8em;
  font-weight: 600;
  transition: 0.2s ease;
  cursor: pointer;
}