#side-bar {
  --background: linear-gradient(to bottom right, #EEFEFF, #DDFCFF);
  --secondary-background: #CDCDCD;
  --sidebar-width: 256px;
  --sidebar-width-min: 80px;
  --sidebar-dark-primary: #ffff;
  --sidebar-dark-secondary: rgba(0, 0, 0, 0.25);
  --sidebar-light-primary: #303030;
  --sidebar-light-secondary: #00193a;
}

#side-bar-content::-webkit-scrollbar {
  width: 0 !important;
}

#side-bar-content::-webkit-scrollbar-track {
  background: transparent;
}

#side-bar-content::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3) !important;
  border-radius: 24px;
}

#side-bar-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 119, 119, 0.8) !important;
}

#side-bar-footer-content::-webkit-scrollbar {
  width: 0 !important;
}

#side-bar-toggle:checked ~ #side-bar-header {
  width: calc(var(--sidebar-width-min) - 16px);
  min-height: 80px;
  transform: translateX(-10px);
}
#side-bar-toggle:checked ~ #side-bar-content, #side-bar-toggle:checked ~ #side-bar-footer {
  width: var(--sidebar-width-min);
}

#side-bar-toggle:checked ~ #side-bar-header label[for=side-bar-toggle] {
  right: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
#side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger {
  width: 15px;
  height: 2px;
  background: #202020;
  transform: translate(-25%, -200%);
}
#side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger:before, #side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger::after {
  width: 15px;
  background: #202020;
  transform: translate(0%, 6px) rotate(0deg);
}
#side-bar-toggle:checked ~ #side-bar-content .side-bar-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#side-bar-toggle:checked ~ #side-bar-content .side-bar-button .fas {
  width: calc(100% - 16px);
  transition: width 0.2s;
}
#side-bar-toggle:checked ~ #side-bar-footer #side-bar-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#side-bar-footer #side-bar-footer-titlebox {
  min-width: 80px;
  text-align: left;
}
#side-bar-toggle:checked ~ #side-bar-footer #side-bar-footer-titlebox,
#side-bar-toggle:checked ~ #side-bar-footer label[for=side-bar-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#side-bar {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 70px;
  padding-top: 10px;
  min-height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  color: var(--sidebar-light-primary);
  user-select: none;
  border: 2px solid #202020;
  border-left: none;
}

/* .rebound-animation {
  animation: revolve .7s ease;
}
.retract-animation {
  animation: revolve2 .8s ease;
} */

@keyframes revolve {
  0%, 10%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-400px);
  }
}
@keyframes revolve2 {
  0%, 10%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300px);
  }
}

#side-bar-content .side-bar-button .fas {
  color: var(--sidebar-light-secondary);
  height: 32px;
  width: 48px;
  transition: color 0.5s ease, width 0.3s ease;
}

#side-bar-content .side-bar-button .fas.news-ico {
  transform: scale(1.25);
}

#side-bar hr {
  margin: 0;
  position: relative;
  left: 0px;
  transform: translateX(-20px);
  width: calc(100% - 32px);
  border: none;
  border-top: solid 2px var(--sidebar-dark-secondary);
}
#side-bar a {
  color: inherit;
  text-decoration: inherit;
}
#side-bar input[type=checkbox] {
  display: none;
}

#side-bar-header {
  position: relative;
  width: var(--sidebar-width);
  left: 16px;
  width: calc(var(--sidebar-width) - 16px);
  min-height: 60px;
  background: transparent;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
}
#side-bar-header hr {
  position: absolute;
  bottom: 0;
}

#side-bar-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=side-bar-toggle] {
  position: absolute;
  right: -20px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--background);
  border-radius: 50%;
  border: 2px solid #222222;
  cursor: pointer;
}

#side-bar-toggle-burger {
  position: relative;
  left: 4px;
  top: 5px;
  width: 24px;
  height: 2px;
  background-color: transparent;
  border-radius: 99px;
  transition: background-color 0.2s;
}
#side-bar-toggle-burger:before, #side-bar-toggle-burger:after {
  content: "";
  position: absolute;
  top: -12px;
  width: 12px;
  height: 2.2px;
  background-color: #222222;
  border-radius: 99px;
  transform: translate(0, 9px) rotate(35deg);
  transition: all 0.4s ease;
}
#side-bar-toggle-burger:after {
  top: 0;
  transform: translate(0, -9px) rotate(-35deg);
}

#side-bar-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--sidebar-width);
  background: transparent;
  direction: rtl;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: width 0.2s;
}
#side-bar-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#side-bar-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}
#side-bar-content::-webkit-scrollbar-button {
  height: 16px;
}

#side-bar-content-highlight {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: -70px;
  width: calc(100% - 30px);
  height: 54px;
  background-color: rgba(203, 203, 203, 0.6);
  border: 5px double #333333;
  background-attachment: fixed;
  border-radius: 16px;
  transform: translateX(-5px);
  transition: top 0.2s, background-color 0.4s ease, border-radius 0.3s ease;
}

#side-bar:has(#side-bar-toggle:checked) #side-bar-content-highlight {
  border-radius: 16px;
  width: calc(100% - 20px);
  transition: top 0.2s, background-color 0.4s ease, border-radius 0.3s ease;
}

#side-bar:has(#side-bar-toggle:checked) .side-bar-button {
  padding-left: 0;
}

.side-bar-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--sidebar-light-secondary);
  direction: ltr;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  opacity: 1;
  z-index: 1;
  transition: color 0.5s ease, opacity 0.4s ease, margin 0.3s ease, padding 0.3s ease;
}
.side-bar-button span {
  font-family: "Monda", sans-serif;
  font-weight: 600;
  border-left: 3px solid rgba(128, 128, 128, 0.3);
  padding-left: 10px;
  opacity: 1;
  transition: opacity 1s;
}

.side-bar-button:hover {
  color: rgb(0, 180, 240);
}
.side-bar-button.home {pointer-events: none; padding-left: 20px;}
.side-bar-button.home ~ #side-bar-content-highlight {
  top: 16px;
}

.side-bar-button.explore {pointer-events: none; padding-left: 20px;}
.side-bar-button.explore ~ #side-bar-content-highlight {
  top: 70px;
}

.side-bar-button.posts {pointer-events: none; padding-left: 20px;}
.side-bar-button.posts ~ #side-bar-content-highlight {
  top: 124px;
}

.side-bar-button.news {pointer-events: none; padding-left: 20px;}
.side-bar-button.news ~ #side-bar-content-highlight {
  top: 178px;
}

.side-bar-button.createHub {pointer-events: none; opacity: 0.2;}
.side-bar-button.createHub ~ #side-bar-content-highlight {
  /* top: 178px; */
  top: -100%;
}

#side-bar .fas {
  min-width: 3rem;
  text-align: center;
}

/* .extended-joint-container {
  position: fixed;
  z-index: 98;
  top: 5px;
  left: -120px;
  transform: rotate(-90deg) scale(0.8);
}

.extended-joint-container2 {
  position: fixed;
  z-index: 98;
  top: 380px;
  left: -120px;
  transform: rotate(-90deg) scale(0.8);
} */