.logout__btn-container {
    position: absolute;
    top: 5px;
    right: 150px;
    width: 200px;
    height: 100px;
    z-index: 1000;
}

.logout__btn:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.logout__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}