.landing-page-container {
    margin-top: 80px;
    width: 100%;
    height: 400vh;
}

.landing-page-container img {
    user-select: none;
}

.landing-page-container .halftone {
  z-index: 9;
  position: fixed;
  top: 0;
  color: #222;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 6px 6px;
  opacity: 0.08;
  pointer-events: none;
}

.landing-page-container .halftone::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-image: radial-gradient(rgba(70, 50, 30, 0.7) 1px, transparent 1px);
  background-size: 4px 4px;
  mix-blend-mode: multiply;
  opacity: 0.2;
  pointer-events: none;
}

.landing-page-container .website-banner {
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../assets/UI-Elements/Summer2.png);
    background-size: contain;
    box-shadow: inset 0 -4px 12px 0 rgba(0, 0, 0, 0.5);
}

.landing-page-container .website-banner .desktop-apps {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 450px;
    background-image: url(../../assets/UI-Elements/Desktop_apps.png);
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    user-select: none;
    transition: filter 0.6s ease;
}

.landing-page-container .website-banner .desktop-wallpaper {
    position: relative;
    width: 100%;
    height: 100%;
}

.landing-page-container .taped-picture {
  position: absolute;
  z-index: 10;
  left: 80%;
  top: 30%;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      transparent
    ),
    var(--paper-color);

  min-width: 250px;
  min-height: 130px;
  width: fit-content;
  height: fit-content;
  display: flex;
  transform: rotateZ(10deg);
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.landing-page-container .taped-picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      transparent,
      50%,
      var(--paper-dark),
      51%,
      transparent
    ),
    linear-gradient(
      to right,
      transparent,
      50%,
      var(--paper-dark),
      51%,
      transparent
    );
}

.landing-page-container .taped-picture .Fumo-pic {
    width: 220px;
}

.landing-page-container .taped-picture a {
    font-family: "Just Another Hand", cursive;
    color: #000000;
    font-size: 24px;
    position: absolute;
    transform: rotate(-5deg);
    right: 20px;
    bottom: -1px;
    z-index: 1;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.landing-page-container .taped-picture a:hover,
.landing-page-container .taped-picture:hover a {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.taped-picture .tape-section {
  position: absolute;
  width: 100%;
}

.taped-picture .tape-section:first-of-type {
  top: 0;
}

.taped-picture .tape-section:last-of-type {
  bottom: 0;
}

.taped-picture .tape-section::before,
.taped-picture .tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.taped-picture .tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.taped-picture .tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.taped-picture .tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.taped-picture .tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

.taped-picture .top-tape {
  position: absolute;
  height: 4vmin;
  top: -10px;
  width: 60%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.landing-page-container .website-banner .desktop-wallpaper .desktop-wallpaper-Fumo {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    filter: drop-shadow(2px -2px 0 #ffffff);
    width: 600px;
}

.landing-page-container .website-banner .desktop-wallpaper a {
    position: absolute;
    font-family: "Just Another Hand", cursive;
    z-index: 3;
    color: #FFFFFF;
    font-size: 16px;
    bottom: 10px;
    left: 10px;
    filter: drop-shadow(-5px 0px 5px #000000);
    width: 950px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.landing-page-container .website-banner .desktop-wallpaper a:hover,
.landing-page-container .website-banner .desktop-wallpaper:has(.desktop-wallpaper-Fumo:hover) a {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.landing-page-container .website-banner .retro-window-container:nth-last-child(2) {
    position: absolute;
    top: 200px;
    left: calc(50% - 500px);
}

.website-banner .retro-window-container:nth-last-child(2) .retro-window-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.website-banner .retro-window-container:nth-last-child(2) .retro-window-content .retro-window-message {
    width: 100%;
    height: 70%;
    font-family: "Monda", sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    padding-top: 50px;
}

.website-banner .retro-window-container:nth-last-child(2) .retro-window-content .retro-window-button {
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-family: "Monda", sans-serif;
    font-weight: 900;
    background-color: #D9D9D9;
    border: 3px solid #000000;
    color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0 #00000000;
    outline: none;
    border-radius: 10px;
    animation: grow-loop 5s linear infinite;
}

.website-banner .retro-window-container:nth-last-child(2) .retro-window-content .retro-window-button:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -3px 1px 3px #00000040;
}
.website-banner .retro-window-container:nth-last-child(2) .retro-window-content .retro-window-button:focus {
    padding-bottom: 0;
    box-shadow: inset 0 0 1px 3px #00000050;
}

.website-banner .retro-window-container:nth-last-child(2) .retro-window-content .retro-window-button::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 30px;
    background-color: transparent;
    border: 2px dotted #000000;
    color: #555555;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes grow-loop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.website-banner .retro-window-container:nth-last-child(1) {
    position: fixed;
    z-index: 3;
    bottom: 20px;
    right: 20px;
}
.website-banner .retro-window-container:nth-last-child(1):has(.retro-window-content.stay) {
    position: absolute;
    z-index: 3;
    bottom: -60px;
    right: 20px;
}

.website-banner .retro-window-container:nth-last-child(1) .retro-window-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.retro-window-container:nth-last-child(1) .retro-window-content .music-controller {
    height: 50%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.retro-window-container:nth-last-child(1) .retro-window-content .music-controller button {
    padding: 0;
    border-radius: 50%;
}

.retro-window-container:nth-last-child(1) .retro-window-content .music-controller button img {
    width: 30px;
}

.retro-window-container:nth-last-child(1) .retro-window-content .music-controller button:nth-child(2) img {
    width: 45px;
}

.retro-window-container:nth-last-child(1) .retro-window-content .music-timeline {
    width: 80%;
    height: 10px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 24px;
}

.landing-page-hero {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 200px;
}

.landing-page-hero h1 {
    color: #000;
}